<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="episode">
	<insert id="insert" parameterType="episodeDto">
		INSERT INTO ebd_episode
		(num, writer, title, content , imgPath, viewcnt ,regdate)
		VALUES(ebd_episode_seq.NEXTVAL, #{writer}, #{title}, #{content}, #{imgPath}, 0, SYSDATE)
	</insert>
</mapper>