<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="market">

	<insert id="insert" parameterType="marketDto">
		INSERT INTO ebd_market
		(num, writer, title, salesType, salesStatus, imgpath, content, viewcnt, regdate)
		VALUES(ebd_market_seq.NEXTVAL, #{writer}, #{title}, #{salesType},
				#{salesStatus}, #{imgpath}, #{content}, 0 , SYSDATE)
	</insert>
	
	<select id="getList" parameterType="marketDto" resultType="marketDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, title, salesType, salesStatus,
					imgpath, content, viewcnt, ebd_market.regdate, profile
				FROM ebd_market, ebd_users
				<choose>
					<!-- title과 content가 둘다 null아 아니라면, 제목&내용 검색-->
				 	<when test="title != null and content != null">
				 		WHERE (title LIKE '%' || #{title} || '%' 
				 		OR content LIKE '%' || #{content} || '%') 
				 		AND (ebd_market.writer=ebd_users.nick)
				 	</when>
					<when test="title != null">
						WHERE title LIKE '%'||#{title}||'%' 
						AND (ebd_market.writer=ebd_users.nick)
					</when>
					<when test="writer != null">
						WHERE writer LIKE '%'||#{writer}||'%' 
						AND (ebd_market.writer=ebd_users.nick)
					</when>
					<when test="title == null and content ==null and writer==null">
						WHERE ebd_market.writer=ebd_users.nick
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getData" parameterType="int" resultType="marketDto">
		SELECT r1.*, ebd_users.profile
		FROM
			(SELECT num, writer, title, salesType, salesStatus,
				imgpath, content, viewcnt, regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum, 
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum 
			FROM ebd_market
			ORDER BY num DESC) r1, ebd_users
		WHERE num=#{num} AND r1.writer=ebd_users.nick
	</select>
	
	<update id="update" parameterType="marketDto">
		UPDATE ebd_market
		SET title=#{title}, salesType=#{salesType}, salesStatus=#{salesStatus}, 
			imgpath=#{imgpath}, content=#{content}
		WHERE num=#{num}
	</update>
	
	<update id="updateStatus" parameterType="fileDto">
		UPDATE ebd_market
		SET salesStatus=#{salesStatus}
		WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM ebd_market
		WHERE num=#{num}
	</delete>
	
	<!-- 글 조회수 -->
	<update id="addViewCnt" parameterType="int">
		UPDATE ebd_market
		SET viewcnt=viewcnt+1
		WHERE num=#{num}
	</update>
	
	<!-- 전체 글 갯수 -->
	<select id="getCount" parameterType="marketDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM ebd_market
		<choose>
		 	<when test="title != null and content != null">
		 		WHERE title LIKE '%' || #{title} || '%' 
		 		OR content LIKE '%' || #{content} || '%'
		 	</when>
			<when test="title != null">
				WHERE title LIKE '%'|| #{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'|| #{writer}||'%'
			</when>
		</choose>	
	</select>
	
	<!-- 하트를 클릭했을 때 로그인된 닉네임 정보와 하트를 클릭한 글의 num을 insert해준다. -->
    <insert id="insertH" parameterType="marketDto">
       INSERT INTO ebd_market_heart
       (num, target_num, writer)
       VALUES(ebd_market_heart_seq.NEXTVAL, #{num}, #{nick})
    </insert>
   
    <!-- 하트를 해제 했을 때 로그인된 아이디정보와 하트를 클릭한 글의 num을 delete해준다. -->
    <delete id="deleteHeart" parameterType="marketDto">
       DELETE FROM ebd_market_heart
       WHERE target_num=#{num} AND writer=#{nick}
    </delete>
   
    <select id="getHeartCntDetail" parameterType="int" resultType="int">
       SELECT NVL(r1.heartcnt,0) heartcnt
       FROM (SELECT target_num, count(*) heartcnt
                FROM ebd_market_heart
                GROUP BY target_num) r1, ebd_market e
       WHERE r1.target_num(+) = e.num and e.num=#{num}
    </select>
   
    <!-- 로그인이 되어있다면 로그인된 닉네임의 하트 테이블 정보를 select해준다. -->
    <select id="selectHeartInfo" parameterType="marketDto" resultType="int">
       SELECT target_num
       FROM
          (SELECT r1.target_num, ROWNUM AS rnum
          FROM
             (SELECT e.num, NVL(h.target_num,0) target_num
             FROM ebd_market e, ebd_market_heart h
             <choose>
             	<!-- if문과 비슷한 구조임, title과 content가 둘다 null아 아니라면, 제목, 내용겁색 -->
			  	<when test="title != null and content != null">
			 		WHERE (title LIKE '%' || #{title} || '%' OR content LIKE '%' || #{content} || '%') AND e.num = h.target_num(+) AND h.writer(+)=#{nick}   
			 	</when>
                <!--title이 null이 아니라면-->
                <when test="title != null">
                   WHERE (title LIKE '%' || #{title} || '%') AND e.num = h.target_num(+) AND h.writer(+)=#{nick}
                </when>
                <!--writer이 null이 아니라면-->
                <when test="writer != null">
                   WHERE (e.writer LIKE '%' || #{writer} || '%') AND e.num = h.target_num(+) AND h.writer(+)=#{nick} 
                </when>
                <!-- 모두 null 이라면 WHERE절에 이런 쿼리문만 들어간다. -->
                <when test="title ==null and writer ==null">
                   WHERE e.num = h.target_num(+) AND h.writer(+)=#{nick}
                </when>
             </choose>
             ORDER BY num DESC) r1) 
       WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
    </select>
   
    <select id="getHeartCnt" parameterType="marketDto" resultType="int" >
       SELECT heartcnt
       FROM
          (SELECT r2.heartcnt, ROWNUM AS rnum
          FROM
             (SELECT NVL(r1.heartcnt,0) heartcnt
                 FROM (select target_num, count(*) heartcnt
                 FROM ebd_market_heart
                 GROUP BY target_num) r1, ebd_market e
             <choose>
            	<!-- if문과 비슷한 구조임, title과 content가 둘다 null아 아니라면, 제목, 내용겁색 -->
			 	<when test="title != null and content != null">
			 		WHERE (title LIKE '%' || #{title} || '%' OR content LIKE '%' || #{content} || '%') AND r1.target_num(+) = e.num   
			 	</when>
                <!--title이 null이 아니라면-->
                <when test="title != null">
                   WHERE (title LIKE '%' || #{title} || '%') AND r1.target_num(+) = e.num
                </when>
                <!--writer이 null이 아니라면-->
                <when test="writer != null">
                   WHERE (e.writer LIKE '%' || #{writer} || '%') AND r1.target_num(+) = e.num
                </when>
                <!-- 모두 null 이라면 WHERE절에 이런 쿼리문만 들어간다. -->
                <when test="title ==null and writer ==null">
                   WHERE r1.target_num(+) = e.num
                </when>  
            </choose>
            ORDER BY num DESC) r2) 
       WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
    </select>
   
    <!-- 디테일 중 하트 정보 해당 nick이 해당num번 글에 하트를 클릭했으면 target_num이 리턴, 그렇지 않으면 null리턴  -->
    <select id="getHeartInfoDetail" parameterType="marketDto" resultType="String">
       SELECT target_num
       FROM ebd_market_heart
       WHERE target_num=#{num} and writer=#{nick}          
    </select>
    
    <!-- 마이다이어리 내가 쓴글 리스트를 요청 -->
   	<select id="getMyList" parameterType="marketDto" resultType="marketDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, title, salesType, salesStatus,
					imgpath, content, viewcnt, ebd_market.regdate, profile
				FROM ebd_market, ebd_users
				WHERE ebd_market.writer=ebd_users.nick AND ebd_market.writer=#{nick}
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
    <!-- 마이다이어리 내가 쓴글 리스트 개수를 요청 -->
	<select id="getMyCount" parameterType="marketDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM ebd_market
		WHERE writer = #{nick}
	</select>
   
</mapper>