<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportCmt">
	<select id="getList" parameterType="reportCmtDto" resultType="reportCmtDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, content, target_nick, ref_group,
					cmt_group, deleted, ebd_report_cmt.regdate
				FROM ebd_report_cmt
				WHERE ref_group=#{ref_group}
				ORDER BY cmt_group DESC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}		
	</select>
	<insert id="insert" parameterType="reportCmtDto">
		INSERT INTO ebd_report_cmt
		(num, writer, content, target_nick, ref_group, cmt_group, regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_nick}, #{ref_group}, #{cmt_group}, SYSDATE)		
	</insert>
	<update id="update" parameterType="reportCmtDto">
		UPDATE ebd_report_cmt
		SET content=#{content}
		WHERE num=#{num}		
	</update>
	<update id="delete" parameterType="int">
		UPDATE ebd_report_cmt
		SET deleted='yes'
		WHERE num=#{num}		
	</update>
	<select id="getSequence" resultType="int">
		SELECT ebd_report_cmt_seq.NEXTVAL
		FROM DUAL	
	</select>
	<select id="getData" parameterType="int" resultType="reportCmtDto">
		SELECT num,writer,content,ref_group,cmt_group,deleted,regdate
		FROM ebd_report_cmt
		WHERE num=#{num}		
	</select>
	<select id="getCount" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM ebd_report_cmt
		WHERE ref_group=#{ref_group}		
	</select>
</mapper>