<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">
	<insert id="insert" parameterType="reportDto">
		INSERT INTO  ebd_report
		(num, writer, booktitle, author, title, genre, stars, imgpath, link, content, viewcnt, regdate)
		VALUES(ebd_report_seq.NEXTVAL, #{writer}, #{booktitle}, #{author}, #{title}, #{genre}, #{stars}, #{imgpath}, #{link}, #{content}, 0, SYSDATE)
	</insert>
	<select id="getList" parameterType="reportDto" resultType="reportDto">
		SELECT *
		FROM
			(SELECT result.*,ROWNUM AS rnum
			FROM
				(SELECT num, writer, booktitle, title, author, genre, stars, imgpath, link, content, viewcnt, regdate
				FROM ebd_report
				ORDER BY num DESC)result)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getData" parameterType="int" resultType="reportDto">
		SELECT * 
		FROM
			(SELECT num, writer, booktitle, title, author, genre, stars, imgpath, link, content, viewcnt, regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum, 
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum
			FROM ebd_report
			ORDER BY num DESC)
		WHERE num=#{num}
	</select>
	<update id="addViewCount" parameterType="int">
		UPDATE ebd_report
		SET viewcnt=viewcnt+1
		WHERE num=#{num}
	</update>
	<delete id="delete" parameterType="reportDto">
		DELETE FROM ebd_report
		WHERE num=#{num}
	</delete>
</mapper>